@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button:focus,
  button:focus-visible {
    outline: none;
  }

  input:focus,
  input:focus-visible,
  [tabindex]:focus,
  [tabindex]:focus-visible {
    outline: none;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  table,
  thead,
  tbody,
  tfoot,
  tr,
  th,
  td {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
  }
  th,
  td {
    display: inline;
  }
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-color: #f1f5f9;
}

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
}

/* After only */

[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after,
.tooltip-left:after,
.tooltip-right:after,
.tooltip-bottom:after {
  content: attr(data-tooltip);
  font-size: var(--font-size);
  color: var(--text-color);
  z-index: var(--z-index);
  position: absolute;
  width: max-content;
  max-width: 10rem;
  word-wrap: break-word;
  padding: var(--pading);
  border-radius: var(--border-radius);
  text-align: start;
  background-color: var(--background-color);
}

/* Before only */

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before,
.tooltip-left:before,
.tooltip-right:before,
.tooltip-bottom:before {
  content: '';
  border: var(--arrow-size) solid transparent;
}

/* Common */

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after,
.tooltip-left:before,
.tooltip-left:after,
.tooltip-right:before,
.tooltip-right:after,
.tooltip-bottom:before,
.tooltip-bottom:after {
  --scale: 0;
  --arrow-size: 0px;
  --text-color: #115e59;
  --background-color: rgba(204 251 241 / 0.95);
  --border-radius: 0.5rem;
  --font-size: 0.75rem;
  --z-index: 150;
  --pading: 0.5rem 1rem;
  font-weight: 500;
  position: absolute;
  z-index: var(--z-index);
  transition: 300ms transform;
}

.tooltip-top:before,
.tooltip-top:after {
  --translate-y: calc(-100% - var(--arrow-size));
  left: 50%;
  top: -25%;
  transform: translateY(var(--translate-y, 0)) translateX(-50%) scale(var(--scale));
  transform-origin: bottom center;
}

.tooltip-left:after,
.tooltip-left:before {
  --translate-x: calc(-100% - var(--arrow-size));
  left: -25%;
  top: 50%;
  transform-origin: center right;
  transform: translateY(-50%) translateX(var(--translate-x, 0)) scale(var(--scale));
}

.tooltip-right:before,
.tooltip-right:after {
  --translate-x: calc(100% + var(--arrow-size));
  right: -25%;
  top: 50%;
  transform-origin: center left;
  transform: translateY(-50%) translateX(var(--translate-x, 0)) scale(var(--scale));
}

.tooltip-bottom:before,
.tooltip-bottom:after {
  --translate-y: calc(100% + var(--arrow-size));
  left: 50%;
  bottom: -25%;
  transform-origin: top center;
  transform: translateY(var(--translate-y, 0)) translateX(-50%) scale(var(--scale));
}

.tooltip-top:before {
  --translate-y: calc(-1 * var(--arrow-size));
  transform-origin: top center;
}

.tooltip-left:before {
  --translate-x: calc(-1 * var(--arrow-size));
  transform-origin: center left;
}
.tooltip-right:before {
  --translate-x: calc(1 * var(--arrow-size));
  transform-origin: center right;
}
.tooltip-bottom:before {
  --translate-y: calc(1 * var(--arrow-size));
  transform-origin: bottom center;
}

/* Hover common */

[data-tooltip]:hover:after,
[data-tooltip]:hover:before,
.tooltip:hover:after,
.tooltip:hover:before,
.tooltip-top:hover:after,
.tooltip-top:hover:before,
.tooltip-right:hover:after,
.tooltip-right:hover:before,
.tooltip-left:hover:after,
.tooltip-left:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:hover:before {
  --scale: 1;
}
